@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

/*Inicio estilos del header*/

.color {
  background-color: #56beb6;
}

.row__col__logo {
  border-radius: 50%;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  margin-left: 10px;
}

/*Fin estilos del header*/

/*---------------------------------------------*/

/*Inicio estilos de la sectionUno del home*/

.sectionUno__home__parrafo1 {
  color: white;
  left: 2%;
  top: 2%;
}

@media only screen and (max-width: 480px) {
  .sectionUno__home__parrafo1 {
    left: 5%;
    width: 60%;
    font-size: 8px;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .sectionUno__home__parrafo1 {
    font-size: 10px;
  }

  .sectionUno__home__registrate {
    color: white;
    background-color: #f29985;
    padding: 2px 7px;
    text-decoration: none;
    top: 50%;
    left: 2%;
  }
}

.sectionUno__home__registrate {
  color: white;
  background-color: #f29985;
  padding: 10px 15px;
  text-decoration: none;
  top: 16%;
  left: 2%;
}

@media only screen and (max-width: 480px) {
  .sectionUno__home__registrate {
    top: 65%;
    left: 5%;
    padding: 2px 7px;
  }
}

/*Fin estilos sectionUno del home*/

/*-------------------------------------------------------------*/

/*Inicio estilos sectionDos del home*/

.sectionDos__home {
  background-color: #56beb6;
}

.sectionDos__home div video {
  width: 80%;
  height: 90%;
}

.sectionDos__home div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sectionDos__home div p {
  color: white;
  width: 80%;
}

/*Fin estilos section Dos del home*/

/*----------------------------------*/

/*Inicio estilos sectionTres del home*/

.sectionTres__home {
  background-color: #f2cf66;
  height: 500px;
}

@media only screen and (max-width: 480px) {
  .sectionTres__home {
    height: 1100px;
  }
  .sectionTres__home .sectionTres__contenedor {
    background-color: #f29985;
    width: 50%;
    height: 90%;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #56beb6;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1000px) {
  .sectionTres__home {
    height: 2000px;
  }
  .sectionTres__home .sectionTres__contenedor {
    background-color: #f29985;
    width: 70%;
    height: 90%;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #56beb6;
  }
}

.sectionTres__home .sectionTres__contenedor {
  background-color: #f29985;
  width: 70%;
  height: 90%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #56beb6;
}

.sectionTres__home .caja {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sectionTres__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.caja .sectionTres__contenedor img {
  border-radius: 25px;
  width: 80%;
  position: relative;
  top: 15px;
}

.caja .sectionTres__contenedor p {
  color: white;
  position: relative;
  top: 20px;
}

.oracion3 {
  text-align: center;
}

/*Fin estilos sectionTres del home*/

/*---------------------------------------*/

/*Inicio estilos sectionCuatro del home*/

.sectionCuatro__home {
  background-color: #f29985;
  height: 400px;
}

.registrate {
  position: relative;
  top: 25px;
  font-size: 45px;
  color: white;
}

.btn {
  background-color: #56beb6;
  color: white;
}

/*Fin estilos sectionCuatro del home*/

/*---------------------------------*/

/*Inicio estilos del footer*/

.pie {
  background-color: #56beb6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.pie img {
  width: 50px;
  position: relative;
  top: 40px;
  left: 25px;
}

.pie .pie__contenedor3 {
  background-color: #f2cf66;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie .pie__contenedor3 a {
  color: white;
  text-decoration: none;
  background-color: #f29985;
  height: 50px;
  padding: 10px 20px;
}

.pie p {
  color: white;
  font-size: x-large;
  position: relative;
  top: 100px;
  left: 25px;
  font-family: "Roboto", sans-serif;
}

/*Fin estilos del footer*/

/*------------------------------------------*/

/*Inicio estilos de Nosotros*/

.sectionUno__nosotros {
  position: relative;
}

.row .row .video__Nosotros {
  width: 100%;
}

.row .parrafo1 {
  position: absolute;
  color: white;
  top: 0%;
  left: 25px;
  font-size: 100px;
  font-family: Staatliches, cursive;
  text-shadow: 2px 2px 2px black;
}

.row .parrafo2 {
  position: absolute;
  color: white;
  top: 95px;
  left: 25px;
  font-size: 100px;
  font-family: Staatliches, cursive;
  text-shadow: 2px 2px 2px black;
}

/*Fin estilos sectionUno de Nosotros*/

/*Inicio sectionDoss de Nosotros*/

.sectionDosNosotros {
  background-color: #56beb6;
  height: 450px;
}

.sectionDosNosotros .sectionDosNosotros__contenedor1 img {
  width: 600px;
  height: 400px;
  position: relative;
  left: 35px;
  top: 25px;
}

.sectionDosNosotros p {
  width: 600px;
  color: white;
}

.sectionDosNosotros__contenedor2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .sectionDosNosotros {
    height: 600px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 900px) {
  .sectionDosNosotros {
    height: 650px;
  }

  .sectionDosNosotros .sectionDosNosotros__contenedor1 img {
    width: 400px;
    height: 350px;
    position: relative;
    left: 35px;
    top: 25px;
  }
}

/*Fin estilos sectionDos de nosotros*/

/*---------------------------------*/

/*Inicio estilos sectionTres de nosotros*/

.sectionTresNosotros {
  background-color: #f2cf66;
  width: 100%;
  height: 600px;
}

@media only screen and (max-width: 480px) {
  .sectionTresNosotros {
    height: 1000px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1000px) {
  .sectionTresNosotros {
    height: 1000px;
  }
  .sectionTresNosotros .sectionTres__contenedor {
    margin-top: 50px;
  }
}

.sectionTresNosotros .fila1 {
  position: relative;
  top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sectionTresNosotros .sectionTres__contenedor {
  background-color: #f29985;
  border-radius: 25px;
  width: 700px;
  box-shadow: #56beb6 5px 5px 5px;
}

.sectionTresNosotros .sectionTres__contenedor p {
  color: white;
}

.fila2 {
  margin-top: 100px;
}

.fila2 p {
  color: white;
  text-align: center;
}
